<div class="modal" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="sing-up-modal">
        <div class="colors-div">
            <div class="close-btn">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <div class="modal-div">Sign up</div>
        </div>
        <div id="welcome">
            <span>Welcome!</span>
        </div>
        <div id="additional-info">
            <span>You should be registered to add new adverts!<br>
                Please enter your email, login, and password!</span>
        </div>
        <form id="sign-up-form" #createUser="ngForm" (ngSubmit)='createU(createUser.value)' novalidate>
            <div class="containers-form">
                <input type="email" id="email-text" placeholder="Enter your email..." #email='ngModel' name='email' maxlength="30" pattern="[a-z0-9._]+@[a-z0-9.-]+\.[a-z]{2,3}$" required ngModel/>
                <p *ngIf="email.value == '' && email.touched" class='danger-text error-font'>Email cannot be empty</p>
                <p *ngIf="email.value !== '' && email.invalid && email.touched" class='danger-text error-font'>Please, enter valid email</p>
            </div>
            <div class="containers-form">
                <input type="password" class="password-text" placeholder="Enter your password..." #password='ngModel' minlength="6" maxlength="32" name='password' required ngModel/>
                <p *ngIf="password.value == '' && password.touched" class='danger-text error-font'>Password cannot be empty</p>
                <p *ngIf="password.value != '' && password.invalid && password.touched" class='danger-text error-font'>Should contain min. 6 and max. 32</p>
            </div>
            <div class="containers-form">
                <input type="password" id="confirm-password-text" placeholder="Confirm your password..." #passwordrequired='ngModel' required name='passwordrequired' ngModel/>
                <p *ngIf="passwordrequired.value == '' && passwordrequired.touched" class='danger-text error-font'>This field cannot be empty</p>
                <p *ngIf="passwordrequired.value != '' && password.value != passwordrequired.value" class='danger-text error-font'>Passwords should be equal</p>
            </div>
            <button id="sign-up-confirm-btn" type="submit" (click)="createU(createUser.value)" data-dismiss="modal" 
            [style.background-color]="createUser.form.invalid ? '#d4a682' : '#da843e'" [class.disabled]='createUser.form.invalid'
            [disabled]='createUser.form.invalid'>Sign Up</button>
        </form>
    </div>
</div>
