.d-flex{
	display: flex;
	flex-wrap: wrap;
}

.justify-content-between{
	justify-content: space-between;
}

.header{
	height: 164px;
	background-color: #5798f2;
	background-size: cover;
	position: relative;
}
.header-btn-userpage{
	width: 160px;
	height: 50px;
	font: 24px montserratSemiBold;
	text-transform: uppercase;
	color: #fff;
	background-color: #172d4d;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
	margin-left: 6px;
}

.header-btn-userpage:hover{
	background-color: #0f1e33;
}

.header-content{
	width: 100%;
	padding: 44px 0;
	margin: 0 auto;
}

.header-buttons{
	width: 298px;
	padding: 12px 0;
	margin-right: 7.6%;
}

.header-btn{
	width: 130px;
	height: 50px;
	font: 24px montserratSemiBold;
	text-transform: uppercase;
	color: #fff;
	background: none;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.header-btn:hover{
	background-color: #172d4d;
}

#sign-up-btn{
	background-color: #172d4d;
}

#sign-up-btn:hover{
	background-color: #0f1e33;
}

.logo{
	width: 250px;
	height: 128px;
	background: url('../../assets/img/logo.png') no-repeat;
	margin-left: 60%;

}

@font-face{
	font-family: montserratRegular;
	src: url('../../fonts/Montserrat-Regular.otf');
}

@font-face{
	font-family: montserratBold;
	src: url('../../fonts/Montserrat-Bold.otf');
}

@font-face{
	font-family: montserratSemiBold;
	src: url('../../fonts/Montserrat-SemiBold.otf');
}
