<header class="header">
  <div class="header-content d-flex justify-content-between">
    <a href="#header" routerLink=""><div class="logo"></div></a>
    <div class="header-buttons d-flex justify-content-between">
      <button *ngIf="this.http.userEmail === ''" type="button" class="header-btn" data-toggle="modal" data-target="#exampleModal1">Sign in</button>
      <button *ngIf="this.http.userEmail === ''" type="button" class="header-btn" id="sign-up-btn" data-toggle="modal" data-target="#exampleModal2">Sign up</button>

      <a routerLink=""><button *ngIf="this.http.userEmail !== ''" (click)="logout()" type="button" class="header-btn">Logout</button></a>
      <a routerLink="registered"><button *ngIf="this.http.userEmail !== '' && (this.flag == false)" (click)="onHomePage()" type="button" class="header-btn-userpage">User page</button></a>
      <a routerLink=""><button *ngIf="this.http.userEmail !== '' && (this.flag)" type="button" (click)="onUserPage()" class="header-btn-userpage">Home Page</button></a>
      <app-sing-in-modal></app-sing-in-modal>
      <app-sign-up-modal></app-sign-up-modal>
    </div>
  </div>
</header>
