<footer class="footer">
    <div class="footer-content d-flex justify-content-between">
      <a href="#footer"><div class="logo"></div></a>
      <div class="footer-items justify-content-center">
        <ul>
          <li><a href="#">Contact Us</a>|</li>
          <li><a href="#">FAQ</a>|</li>
          <li><a href="#">Terms</a>|</li>
          <li><a href="#">Affiliates</a></li>
        </ul>
        <div class="btns d-flex justify-content-between">
          <button type="button" class="footer-btn" id="instagram-btn"></button>
          <button type="button" class="footer-btn" id="facebook-btn"></button>
          <button type="button" class="footer-btn" id="vk-btn"></button>
        </div>
        <div id="copyright">
          <span>Copyright &copy; 2019 Find Everything Co. All rights reserved.</span>
        </div>
      </div>
    </div>
</footer>
