.d-flex{
	display: flex;
	flex-wrap: wrap;
}

.justify-content-between{
	justify-content: space-between;
}

.footer{
	margin-top: 75px;
	height: 322px;
	background-color: #64b3d8;
	background-size: cover;
	position: relative;
}

.footer-content{
	max-width: 1130px;
	padding: 80px 0 0 0;
	margin: 0 auto;
}

.logo{
	width: 200px;
	height: 78px;
	background: url('../../assets/img/logo.png') no-repeat;
}

.footer ul {
	width: 300px;
	text-align: center;
	margin: auto;
}

.footer li {
	display: inline;
	list-style-type: none;
	line-height: 44px;
	font: 18px OswaldRegular;
	color: #fff;
}

.footer li a {
	text-decoration: none;
	margin: 0 10px;
	color: #fff;
	font: 18px OswaldRegular;
}
  
.footer li a:visited {
	text-decoration: none;
}
  
.footer li a:hover {
	text-decoration: underline;
}

@font-face{
	font-family: OswaldRegular;
	src: url('../../fonts/Oswald-Regular.ttf');
}

@font-face{
	font-family: MariadRegular;
	src: url('../../fonts/MyriadPro-Regular.ttf');
}

#copyright {
	width: 570px;
	padding-top: 42px;
	text-align: center;
	color: #fff;
	font: 24px MariadRegular;
	margin: auto;
}

#instagram-btn{
    background: url("../../assets/img/instagram.png") no-repeat;
    border: none;
    width: 40px;
    height: 40px;
}

#facebook-btn{
    background: url("../../assets/img/facebook.png") no-repeat;
    border: none;
    width: 40px;
    height: 40px;
}

#vk-btn{
    background: url("../../assets/img/vk.png") no-repeat;
    border: none;
    width: 40px;
    height: 40px;
}

.btns {
	padding-top: 42px;
	width: 160px;
	margin: auto;
}

.justify-content-center{
	justify-content: center;
}

.footer-items{
	margin-right: 284px;
	padding-top: 42px;
}