.wrap-inner{
	max-width: 1130px;
	margin: 0 auto;
}

.justify-content-between{
	justify-content: space-between;
}

.d-flex{
	display: flex;
	flex-wrap: wrap;
}

.carousel-items{
    padding: 134px 0;
}

ul.hr li {
    display: block;
    font: 24px montserratSemiBold;
    margin: 0 60px 0 60px;
    color: #424242;
    padding: 3px;
}

.left-arrow{
    background: url("../../assets/img/leftarrow.png") no-repeat;
    border: none;
    width: 40px;
    height: 40px;
}

.right-arrow{
    background: url("../../assets/img/rightarrow.png") no-repeat;
    border: none;
    width: 40px;
    height: 40px;
}

.image{
    width: 75px;
    height: 75px;
    border: none;
    background: no-repeat;
    display: flex;
    margin: auto;
}

.text{
    padding: 14px 0;
}

.block-content{
    width: 130px;
    height: 110px;
    margin-right: 130px;
}

.carousel{
    height: 276px;
}