<div class="carousel">
    <div class="carousel-items wrap-inner d-flex justify-content-between">
      <button class="left-arrow"></button>
      <ul class="hr justify-content-between d-flex" style="margin-top: -22px">
        <li class="item"><img src="assets/img/electronics.png" class="image"/><div class="text">Electronics</div></li>
        <li class="item"><img src="assets/img/food.png" class="image"/><div class="text">&nbsp;Food</div></li>
        <li class="item"><img src="assets/img/medicine.png" class="image"/><div class="text">Medicine</div></li>
        <li class="item"><img src="assets/img/vehicles.png" class="image"/><div class="text">Vechicles</div></li>
      </ul>
      <button class="right-arrow"></button>
    </div>
</div>