<div class="modal" id="exampleModal3" tabindex="-1" role="dialog">
  <div class="create-post-modal">
    <div class="close-btn">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <form id="myForm" #createForm="ngForm" (ngSubmit)='createPost(createForm.value)' novalidate>
      <input style='display: none;' [(ngModel)]='date' name='date' ngModel>
      <input style='display: none;' [(ngModel)]='this.http.userEmail' name='email' ngModel>
      <div class="colors-div">
        <div id="form-title">
          <span>New advert</span>
        </div>
      </div>
      <div class="category justify-content-center">
        <div class="title-of-category">Category</div>
        <select [class.text-tached]='(flagForSelect)' (click)="onSelectClick()" name="Category" required type="select" class="select-category" #category='ngModel' name='category' ngModel>
          <option value="" disabled selected hidden>Select category</option>
          <option value="Music">Music</option>
          <option value="Sport">Sport</option>
          <option value="Food">Food</option>
          <option value="Electronics">Electronics</option>
        </select>
        <p *ngIf='category.invalid && category.touched' class='danger-text error-font'>Category cannot be empty</p>
      </div>
      <div class="location justify-content-center">
        <div class="title-of-location">Location</div>
        <input [class.text-danger]='location.invalid && location.touched' required type="text" id="location-input"
          placeholder="Enter location here..." #location='ngModel' name='location' ngModel />
        <p *ngIf='location.invalid && location.touched' class='danger-text error-font'>Location cannot be empty</p>
      </div>
      <div class="title-of-advert-container justify-content-center">
        <div class="title-of-advert">Title</div>
        <input [class.text-danger]='describe.invalid && describe.touched' required type="text" id="title-of-advert-input"
          placeholder="Enter the title of your ad..." #describe='ngModel' name='describe' ngModel />
        <p *ngIf='describe.invalid && describe.touched' class='danger-text error-font'>Title cannot be empty</p>
      </div>
      <div class="description justify-content-center">
        <div class="title-of-description">Description</div>
        <textarea [class.text-danger]='description.invalid && description.touched' id="description-text" required type="textarea"
          placeholder="Enter your text here..." #description='ngModel' name='description' ngModel></textarea>
        <p *ngIf='description.invalid && description.touched' class='danger-text error-font'>Description cannot be
          empty</p>
      </div>
      <div class="image justify-content-center">
        <div class="title-of-image">Image</div>
        <input [class.text-danger]='image.invalid && image.touched' required type="text" id="image-input" placeholder="Enter image url here..."
          #image='ngModel' name='image' ngModel />
        <p *ngIf='image.invalid && image.touched' class='danger-text error-font'>Image can not be empty</p>
      </div>
      <div class="row date-form justify-content-center">
          <div class="expiration-date-title">Exp. Date</div>
          <input required class="form-control" placeholder="yyyy-mm-dd" [minDate]="this.minDate" [markDisabled]="isDisabled" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" id="expDate" [class.text-danger]='expDate.invalid && expDate.touched' #expDate='ngModel' name='expDate' ngModel>
          <button class="pickerstyle fa fa-calendar" (click)="d.toggle()" type="button"></button>
          <p *ngIf='expDate.invalid && expDate.touched' class='danger-text error-date-font'>Date most be more than current.</p>
      </div>
      <button type="submit" (click)="createPost(createForm.value)" data-dismiss="modal" id="create-advert-confirm-btn"
        [style.background-color]="createForm.form.invalid ? '#d4a682' : '#da843e'" [class.disabled]='createForm.form.invalid'
        [disabled]='createForm.form.invalid'>Create</button>
    </form>
  </div>
</div>
