.d-flex{
	display: flex;
	flex-wrap: wrap;
}

.justify-content-center{
    justify-content: center;
}

.create-post-modal{
    margin: auto;
    margin-top: 8px;
    height: 996px;
    width: 804px;
	background-color: #3c6997;
	background-size: cover;
    border-radius: 3px;
}

.close-btn{
    position: absolute;
    height: 24px;
    width: 804px;
}

button.close{
    position: relative;
    background: url("../../assets/img/close.png") no-repeat;
    border: none;
    width: 24px;
    height: 24px;
    margin-left: auto;
}

#form-title{
    padding-top: 44px;
    width: 320px;
	text-align: center;
	color: #fff;
	font: 40px montserratSemiBold;
	margin: auto;
}

.title-of-category{
    display: inline-block;
    width: 140px;
    height: 50px;
	color: #fff;
    font: 26px montserratSemiBold;
    padding-left: auto;
}

.select-category {
    margin-left: 82px;
    display: inline-block;
    height: 50px;
    width: 398px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #c8c8c8;
    padding-left: 22px;
    font: 20px montserratSemiBold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../assets/img/arrow.png) no-repeat right white;
    background-position: 368px;
    outline:none;
}

div.category{
    width: 628px;
    height: 76px;
    padding-top: 50px;
    margin: auto;
}

div.location{
    width: 628px;
    height: 76px;
    padding-top: 62px;
    margin: auto;
}

.title-of-location{
    display: inline-block;
    width: 140px;
    height: 50px;
	color: #fff;
    font: 26px montserratSemiBold;
    padding-left: auto;
}

#location-input{
    margin-left: 82px;
    display: inline-block;
    padding-left: 22px;
	width: 398px;
	height: 50px;
	border-radius: 5px;
	background-color: #fff;
	border: none;
    font: 20px montserratSemiBold;
    outline:none;
    
}

#location-input::placeholder{
	color: #c8c8c8;
}

div.title-of-advert-container{
    width: 628px;
    height: 76px;
    padding-top: 74px;
    margin: auto;
}

.title-of-advert{
    display: inline-block;
    width: 140px;
    height: 50px;
	color: #fff;
    font: 26px montserratSemiBold;
    padding-left: 2px;
}

#title-of-advert-input{
    margin-left: 82px;
    display: inline-block;
    padding-left: 22px;
	width: 398px;
	height: 50px;
	border-radius: 5px;
	background-color: #fff;
	border: none;
    font: 20px montserratSemiBold;
    outline:none;
}

#title-of-advert-input::placeholder{
	color: #c8c8c8;
}

div.description{
    width: 628px;
    height: 342px;
    padding-top: 86px;
    margin: auto;
}

.title-of-description{
    display: inline-block;
    position: absolute;
    width: 140px;
    height: 50px;
	color: #fff;
    font: 26px montserratSemiBold;
    padding-left: 2px;
}

#description-text{
    margin-left: 222px;
    display: inline-block;
    padding-left: 22px;
    padding-top: 16px;
	width: 398px;
	height: 242px;
	border-radius: 5px;
	background-color: #fff;
	border: none;
    font: 20px montserratSemiBold;
    outline:none;
}

#description-text::placeholder{
	color: #c8c8c8;
}

div.image{
    width: 628px;
    height: 76px;
    padding-top: 24px;
    margin: auto;
}

.title-of-image{
    display: inline-block;
    width: 140px;
    height: 50px;
	color: #fff;
    font: 26px montserratSemiBold;
    padding-left: auto;
}

#image-input{
    margin-left: 82px;
    display: inline-block;
    padding-left: 22px;
	width: 398px;
	height: 50px;
	border-radius: 5px;
	background-color: #fff;
	border: none;
    font: 20px montserratSemiBold;
    outline:none;
    
}

#image-input::placeholder{
	color: #c8c8c8;
}

.expiration-date-title{
    display: inline-block;
    width: 170px;
    height: 50px;
	color: #fff;
    font: 26px montserratSemiBold;
}

#expDate{
    margin-left: 52px;
    display: inline-block;
    padding-left: 22px;
	width: 348px;
	height: 50px;
	border-radius: 5px 0 0 5px;
	background-color: #fff;
	border: none;
    font: 20px montserratSemiBold;
    outline:none;
}

#expDate::placeholder{
    color: #c8c8c8;
}

div.date-form{
    width: 628px;
    height: 76px;
    padding-top: 36px;
    margin-left: 84px;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

button#create-advert-confirm-btn{
    display: block;
    position: relative;
    height: 65px;
    width: 186px;
    border-radius: 5px;
    font: 16px montserratBold;
    padding-bottom: 3px;
    text-align: center;
    color: white;
    background: #da843e;
    border: none; 
    margin: auto;
    margin-top: 52px;
}

.colors-div{
    background-color: #172d4d;
    height: 130px;
}

.pickerstyle{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    text-align: center;
    border: none;
    border-left: solid 1px #c8c8c8; 
}

.danger-text{
    color: #FF5D40;
}

.text-tached{
    color: #000;
}

.error-font{
    font: 20px moriadRegular;
    margin-left: 222px; 
}

.error-date-font{
    font: 20px moriadRegular;
    margin-left: 92px;
    margin-top: 9px;
}

@font-face{
	font-family: moriadRegular;
	src: url('../../fonts/MyriadPro-Regular.ttf');
}

@font-face{
	font-family: oswaldRegular;
	src: url('../../fonts/Oswald-Regular.ttf');
}

@font-face{
	font-family: montserratSemiBold;
	src: url('../../fonts/Montserrat-SemiBold.otf');
}