<div class="modal" id="email-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="email-changing-modal">
      <div class="colors-div">
          <div class="close-btn">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          </div>
      </div>
      <div id="welcome">
          <span>Welcome!</span>
      </div>
      <div id="additional-info">
          <span>You can change your email here!</span>
      </div>
      <form id="email-changing-form" #changeEmail="ngForm" (ngSubmit)='changeEmailMethod(changeEmail.value)' novalidate>
          <div class="containers-form">
              <input type="email" class="email-text" placeholder="Enter current email..." #current_email='ngModel' name='current_email' maxlength="30" pattern="[a-z0-9._]+@[a-z0-9.-]+\.[a-z]{2,3}$" required ngModel/>
              <p *ngIf="current_email.value == '' && current_email.touched" class='danger-text error-font'>Email cannot be empty</p>
              <p *ngIf="current_email.value !== '' && current_email.invalid && current_email.touched" class='danger-text error-font'>Please, enter valid email</p>
          </div>
          <div class="containers-form">
              <input type="email" class="email-text" placeholder="Enter new email..." #new_email='ngModel' name='new_email' maxlength="30" pattern="[a-z0-9._]+@[a-z0-9.-]+\.[a-z]{2,3}$" required ngModel/>
              <p *ngIf="new_email.value == '' && new_email.touched" class='danger-text error-font'>Email cannot be empty</p>
              <p *ngIf="(new_email.value == current_email.value && new_email.touched && new_email.value !== '') || (new_email.value !== '' && new_email.invalid && new_email.touched)" class='danger-text error-font'>Please, enter other valid email</p>
          </div>
          <div class="containers-form">
            <input type="password" class="pass-text" placeholder="Enter current password..." #current_pass='ngModel' name='current_pass' minlength="6" maxlength="32" required ngModel/>
            <p *ngIf="current_pass.value == '' && current_pass.touched" class='danger-text error-font'>Password cannot be empty</p>
            <p *ngIf="current_pass.value !== '' && current_pass.invalid && current_pass.touched" class='danger-text error-font'>Please, enter valid password</p>
        </div>
          <button id="change-confirm-btn" type="submit" (click)="changeEmailMethod(changeEmail.value)" data-dismiss="modal" 
          [style.background-color]="changeEmail.form.invalid ? '#d4a682' : '#da843e'" [class.disabled]='changeEmail.form.invalid'
          [disabled]='changeEmail.form.invalid'>Change Email</button>
      </form>
  </div>
</div>
