.d-flex{
	display: flex;
	flex-wrap: wrap;
}

.justify-content-center{
    justify-content: center;
}

.email-changing-modal{
    margin: auto;
    margin-top: 110px;
    height: 678px;
    width: 492px;
	background-color: #3c6997;
	background-size: cover;
    border-radius: 3px;
}

.containers-form{
    width: 328px;
    height: 76px;
    padding-top: 24px;
    margin: auto;
    margin-bottom: 25px;
}

.pass-text{
    display: inline-block;
    width: 328px;
	height: 60px;
	border-radius: 5px;
	background-color: #fff;
	border: none;
    font: 22px montserratSemiBold;
    padding: 19px 28px;
    padding-left: 16px;
    margin: auto;
}

.pass-text::placeholder{
	color: #c8c8c8;
}

#email-changing-form{
    margin-top: 10px;
}

.close-btn{
    position: absolute;
    height: 24px;
    width: 492px;
}

button.close{
    position: relative;
    background: url("../../assets/img/close.png") no-repeat;
    border: none;
    width: 24px;
    height: 24px;
    margin-left: auto;
}

.colors-div{
    background-color: #172d4d;
    height: 99px;
}

#welcome{
    padding-top: 54px;
    width: 140px;
	text-align: center;
	color: #fff;
	font: 26px moriadRegular;
	margin: auto;
}

#additional-info{
    display: block;
    width: 350px;
	padding-top: 6px;
	text-align: center;
	color: #b4b4b4;
	font: 22px moriadRegular;
    margin: auto;
}

.email-text{
    display: inline-block;
    width: 328px;
	height: 60px;
	border-radius: 5px;
	background-color: #fff;
	border: none;
    font: 22px montserratSemiBold;
    padding: 19px 28px;
    padding-left: 16px;
    margin: auto;
}

.email-text::placeholder{
	color: #c8c8c8;
}

button#change-confirm-btn{
    display: inline-block;
    height: 60px;
    width: 228px;
    border-radius: 5px;
    font: 28px montserratSemiBold;
    padding-bottom: 3px;
    text-align: center;
    color: white;
    background: #da843e;
    border: none; 
    margin-left: 130px; 
    margin-top: 30px;
}

@font-face{
	font-family: moriadRegular;
	src: url('../../fonts/MyriadPro-Regular.ttf');
}

@font-face{
	font-family: oswaldRegular;
	src: url('../../fonts/Oswald-Regular.ttf');
}

@font-face{
	font-family: montserratSemiBold;
	src: url('../../fonts/Montserrat-SemiBold.otf');
}

.danger-text{
    color: #FF5D40;
}

.error-font{
    font: 20px moriadRegular;
    padding-top: 8px;
}
