<div class="menu">
  <div class="menu-items wrap-inner d-flex justify-content-between">
    <form id="search-form">
      <input type="text" id="search-btn" (keyup)="onKey($event)" (change)="onSearch()" placeholder="Search..." #searchInput='ngModel' name='searchInput'
        ngModel />
      <input class="input-location" (change)="onSearch()" [class.text-touched]='location.touched' required (keyup)="onLocationClick($event)"
        name="Location" type="text" #location='ngModel' name='location' placeholder="Location search..." ngModel>
      <select class="select-category" (change)="onSearch()" [class.text-touched]="(flagForSelect)" (click)="onCategoryClick(category)" name="Category"
        required type="select" #category='ngModel' name='category' ngModel>
        <option value="" disabled selected hidden>Select category</option>
        <option value="All">All</option>
        <option value="Music">Music</option>
        <option value="Sport">Sport</option>
        <option value="Food">Food</option>
        <option value="Electronics">Electronics</option>
      </select>
      <div class="row date-form justify-content-center" (keyup)="onDateInput($event)" (click)="onDateInput($event)">
        <input #searchDate='ngModel' name='searchDate'
        ngModel required class="form-control" placeholder="yyyy-mm-dd" type="text" [minDate]="{year: 2019, month: 1, day: 1}" [markDisabled]="isDisabled"
          [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" id="searchDate" (keyup)="myFunction(searchDate)">
        <button class="pickerstyle fa fa-calendar" (click)="d.toggle()" type="button" (change)="myFunction(searchDate)"></button>
      </div>
      <label class="date-sort">
        Date<span *ngIf="(this.flag)"> &uarr;</span><span *ngIf="(this.flag == false)"> &darr;</span>
        <input class="checkbox-styles" type="checkbox" (click)="btnTextChange()" (change)="onSearch()" (change)="onCheck(c.checked)" checked #c>
      </label>
      <button id="create-btn" *ngIf="this.http.userEmail !== ''" data-toggle="modal" data-target="#exampleModal3" (click)="showModal()">New
        advert</button>
    </form>
    <app-create-post-modal *ngIf="this.http.swModal"></app-create-post-modal>
  </div>
</div>
