.wrap-inner{
	width: 100%;
}

.justify-content-between{
	justify-content: space-between;
}

.d-flex{
	display: flex;
	flex-wrap: wrap;
}

#search-form{
    margin: auto;
}

.menu{
    min-height: 102px;
    background-color: #172d4d;
    overflow: auto;
}

.menu-items{
    padding: 25px 0;
    height: 50px;
}

.date-sort{
    height: 50px;
    width: 130px;
    border-radius: 5px;
    font: 24px montserratBold;
    padding-bottom: 3px;
    text-align: center;
    color: white;
    background: #5798f2;
    border: none; 
    margin-left: 18px;
    position: relative;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 12px;
        -webkit-touch-callout: none;
          -webkit-user-select: none;
           -khtml-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
}

.pickerstyle{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    text-align: center;
    border: none;
    border-left: solid 1px #c8c8c8; 
    vertical-align: top;
    position: relative;
}

#searchDate{
    display: inline-block;
    padding-left: 22px;
    width: 212px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    border: none;
    font: 20px montserratSemiBold;
    outline:none;
    position: relative;
}

#searchDate::placeholder{
    color: #c8c8c8;
}

div.date-form{
    display: inline-block;
    width: 270px;
    height: 76px;
    margin-left: 12px;
}

#search-btn{
	width: 284px;
	height: 50px;
	border-radius: 5px;
	background-color: #fff;
	border: none;
    font: 20px montserratSemiBold;
    padding: 19px 28px;
    padding-left: 22px;
    position: relative;
    -webkit-touch-callout: none;
          -webkit-user-select: none;
           -khtml-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
}

#search-btn::placeholder{
	color: #c8c8c8;
}

.input-location {
    margin-left: 12px;
    margin-bottom: 25px;
    height: 50px;
    width: 242px;
    border-radius: 5px;
	background-color: #fff;
	border: none;
    font: 20px montserratSemiBold;
    padding: 19px 28px;
    padding-left: 22px;
    position: relative;
    -webkit-touch-callout: none;
          -webkit-user-select: none;
           -khtml-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
}

.input-location::placeholder{
	color: #c8c8c8;
}

.select-category {
    margin-left: 12px;
    margin-bottom: 25px;
    height: 50px;
    width: 242px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #c8c8c8;
    padding-left: 22px;
    font: 20px montserratSemiBold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../assets/img/arrow.png) no-repeat right white;
    background-position: 214px;
    position: relative;
    -webkit-touch-callout: none;
          -webkit-user-select: none;
           -khtml-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
}

#create-btn {
    height: 50px;
    width: 246px;
    border-radius: 5px;
    font: 24px montserratBold;
    padding-bottom: 3px;
    text-align: center;
    color: white;
    background: #da843e;
    border: none; 
    margin-left: 12px;
    position: relative;
    -webkit-touch-callout: none;
          -webkit-user-select: none;
           -khtml-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
}

.text-touched{
    color: #000;
}

.checkbox-styles{
    visibility: hidden;
}
