<div class="modal" id="exampleModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="sing-in-modal">
    <div class="colors-div">
      <div class="close-btn">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <div class="modal-div">Sign in</div>
      </div>
    </div>
      <div id="welcome">
          <span>Welcome!</span>
      </div>
      <div id="additional-info">
          <span>Please enter you login and password!</span>
      </div>
      <form id="sign-in-form" #signInForm="ngForm" (ngSubmit)='signIn(signInForm.value)' novalidate>
        <div class="containers-form">
          <input type="email" class="login-text" placeholder="Enter your email..." #email='ngModel' name='email' maxlength="30" pattern="[a-z0-9._]+@[a-z0-9.-]+\.[a-z]{2,3}$" required ngModel/>
                <p *ngIf="email.value == '' && email.touched" class='danger-text error-font'>Email cannot be empty</p>
                <p *ngIf="email.value !== '' && email.invalid && email.touched" class='danger-text error-font'>Please, enter valid email</p>
        </div>
        <div class="containers-form">
          <input type="password" class="password-text" placeholder="Enter your password..." minlength="6" maxlength="32" #password='ngModel' name='password' required ngModel/>
          <p *ngIf="password.value == '' && password.touched" class='danger-text error-font'>Password cannot be empty</p>
          <p *ngIf="password.value != '' && password.invalid && password.touched" class='danger-text error-font'>Should contain min. 6 and max. 32</p>
        </div>
        <button id="sign-in-confirm-btn" type="submit" (click)="signIn(signInForm.value)" data-dismiss="modal" 
          [style.background-color]="signInForm.form.invalid ? '#d4a682' : '#da843e'" [class.disabled]='signInForm.form.invalid'
          [disabled]='signInForm.form.invalid'>Sign in</button>
      </form>
    </div>
</div>
