.image{
    margin-top: 6px;
    width: 162px;
    height: 162px;
    border: none;
    background: no-repeat;
    margin-right: 20px;
}

.d-flex{
	display: flex;
	flex-wrap: wrap;
}

.justify-content-between{
	justify-content: space-between;
}

.main{
	min-height: 0px;
	background-size: cover;
	position: relative;
}

.main-content{
	max-width: 1150px;
    margin: 0 auto;
    margin-top: 75px;
}

li {
    display: block;
    list-style-type: none;
}

ul.text-content::-webkit-scrollbar {
    width: 6px;
}

ul.text-content::-webkit-scrollbar-track-piece  {
    background-color: #C2D2E4;
}

ul.text-content::-webkit-scrollbar-thumb:vertical  {
    background-color: #da843e;
}

.description {
    font: 28px montserratSemiBold;
    padding-right: 6px;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #424242;
    width: 500px;
    height: 34px;
}

.describe{
    font: 18px montserratSemiBold;
    padding-right: 6px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    color: #b4b4b4;
    margin-top: 10px;
    width: 500px;
    height: 112px;
}

ul.text-content{
    margin: 6px 20px 0 0;
    border-top: solid 1px #b4b4b4;
    border-bottom: solid 1px #b4b4b4;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #da843e #C2D2E4;
    scrollbar-width: thin;
    height: 162px;
}

ul.info{
    width: 368px;
    text-align: center;
    justify-content: center;
    border-top: solid 3px #80C00E;
    border-bottom: solid 3px #80C00E;
    margin: 6px 20px 6px 0;
    height: 162px;
}

.created-by{
    font: 18px MariadRegular;
    display: inline-block;
    color: #424242;
    margin-top: 7px;
}

.author{
    margin-top: 7px;
    display: inline-block;
    font: 18px MariadRegular;
    color: #192ded;
}

.location{
    font: 18px MariadRegular;
    color: #424242;
    margin-top: 7px;
}

.date{
    font: 18px MariadRegular;
    color: #424242;
    margin-top: 7px;
}

.category{
    font: 18px MariadRegular;
    color: #424242;
    margin-top: 8px;
}

.delete-button{
    margin: 6px 0 6px 0;
	width: 50px;
	height: 50px;
	font: 24px montserratSemiBold;
	text-transform: uppercase;
	color: #E82121;
    background: none;
    box-shadow: 5px 5px 5px -1px rgba(0,0,0,.2);
	border: solid 2px #BB0C0C;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.delete-button:hover{
    background-color: #BB0C0C;
    color: white;
}

@font-face{
	font-family: MariadRegular;
	src: url('../../fonts/MyriadPro-Regular.ttf');
}

@font-face{
    font-family: montserratSemiBold;
    src: url('../../fonts/Montserrat-SemiBold.otf');
}

@font-face{
    font-family: montserratRegular;
    src: url('../../fonts/Montserrat-Regular.otf');
}


#show-more-btn{
	margin-top: 75px;  
	height: 50px;
    width: 200px;
    border-radius: 5px;
    font: 24px montserratBold;
    padding-bottom: 3px;
    text-align: center;
    color: white;
    background: #da843e;
    border: none; 
    margin-left: 109px;
	position: relative;
	left: 37.5%;
}