.image{
    margin-top: 6px;
    width: 162px;
    height: 162px;
    border: none;
    background: no-repeat;
    margin-right: 20px;
}

.d-flex{
	display: flex;
	flex-wrap: wrap;
}

.main{
	min-height: 0px;
	background-size: cover;
	position: relative;
}

.main-content{
	width: 1100px;
    margin: 0 auto;
    margin-top: 75px;
}

li {
    display: block;
    list-style-type: none;
}

.description {
    font: 28px montserratSemiBold;
    padding-right: 6px;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #424242;
    width: 500px;
    height: 34px;
}

.describe{
    font: 18px montserratSemiBold;
    padding-right: 6px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    color: #b4b4b4;
    margin-top: 10px;
    width: 500px;
    height: 112px;
}

ul.text-content{
    margin: 6px 20px 0 0;
    border-top: solid 1px #b4b4b4;
    border-bottom: solid 1px #b4b4b4;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #da843e #C2D2E4;
    scrollbar-width: thin;
    height: 162px;
}

ul.text-content::-webkit-scrollbar {
    width: 6px;
}

ul.text-content::-webkit-scrollbar-track-piece  {
    background-color: #C2D2E4;
}

ul.text-content::-webkit-scrollbar-thumb:vertical  {
    background-color: #da843e;
}

ul.info{
    width: 368px;
    text-align: center;
    justify-content: center;
    border-top: solid 3px #172d4d;
    border-bottom: solid 3px #172d4d;
    margin: 6px 20px 6px 0;
    height: 162px;
}

.created-by{
    font: 18px MariadRegular;
    display: inline-block;
    color: #424242;
    margin-top: 7px;
}

.author{
    margin-top: 7px;
    display: inline-block;
    font: 18px MariadRegular;
    color: #192ded;
}

.location{
    font: 18px MariadRegular;
    color: #424242;
    margin-top: 7px;
}

.date{
    font: 18px MariadRegular;
    color: #424242;
    margin-top: 7px;
}

.category{
    font: 18px MariadRegular;
    color: #424242;
    margin-top: 8px;
}

@font-face{
	font-family: MariadRegular;
	src: url('../../fonts/MyriadPro-Regular.ttf');
}

@font-face{
    font-family: montserratSemiBold;
    src: url('../../fonts/Montserrat-SemiBold.otf');
}

@font-face{
    font-family: montserratRegular;
    src: url('../../fonts/Montserrat-Regular.otf');
}

#show-more-btn{
	margin-top: 75px;  
	height: 50px;
    width: 200px;
    border-radius: 5px;
    font: 24px montserratBold;
    padding-bottom: 3px;
    text-align: center;
    color: white;
    background: #da843e;
    border: none; 
    margin-left: 109px;
	position: relative;
	left: 36.5%;
}