<!-- <app-carousel></app-carousel> -->
<main class="main">
  <div class="main-content d-flex" *ngFor="let post of posts">
      <img src="{{post.image}}" class="image" (error)="photoError($event)">
      <ul class = "text-content">
        <li> <div class="description">{{post.describe}}</div></li>
        <li> <div class="describe">{{post.description}}</div></li>
      </ul>
      <ul class = "info">
          <li><div class="category">Category - {{post.category}}</div></li>
          <li><div class="location">Location - {{post.location}}</div></li>
          <li><div class="date">Creation date - {{post.date}}</div></li>
          <li><div class="date">Exp. date - <span *ngIf='post.expDate.day < 10'>0</span>{{post.expDate.day}}.<span *ngIf='post.expDate.month < 10'>0</span>{{post.expDate.month}}.{{post.expDate.year}}</div></li>
          <li><span class="created-by">Created by&nbsp;</span><span class="author">{{post.email}}</span></li>
      </ul>
  </div>

  <button *ngIf="showBtn" id="show-more-btn" (click)="showMore()">Show More</button>

</main>

