<div class="modal" id="pass-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pass-changing-modal">
        <div class="colors-div">
            <div class="close-btn">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
        <div id="welcome">
            <span>Welcome!</span>
        </div>
        <div id="additional-info">
            <span>You can change your password here!</span>
        </div>
        <form id="pass-changing-form" #changePass="ngForm" (ngSubmit)='changePassMethod(changePass.value)' novalidate>
            <div class="containers-form">
                <input type="password" class="pass-text" placeholder="Enter current password..." #current_pass='ngModel' name='current_pass' minlength="6" maxlength="32" required ngModel/>
                <p *ngIf="current_pass.value == '' && current_pass.touched" class='danger-text error-font'>Password cannot be empty</p>
                <p *ngIf="current_pass.value !== '' && current_pass.invalid && current_pass.touched" class='danger-text error-font'>Please, enter valid password</p>
            </div>
            <div class="containers-form">
                <input type="password" class="pass-text" placeholder="Enter new password..." #new_pass='ngModel' name='new_pass' minlength="6" maxlength="32" required ngModel/>
                <p *ngIf="new_pass.value == '' && new_pass.touched" class='danger-text error-font'>Password cannot be empty</p>
                <p *ngIf="new_pass.value !== '' && new_pass.invalid && new_pass.touched" class='danger-text error-font'>Please, enter valid password</p>
                <p *ngIf="new_pass.value == current_pass.value && new_pass.touched" class='danger-text error-font'>Passwords should be different</p>
            </div>
            <div class="containers-form">
                <input type="password" class="pass-text" placeholder="Confirm new password..." #confirm_pass='ngModel' name='confirm_pass' minlength="6" maxlength="32" required ngModel/>
                <p *ngIf="confirm_pass.value == '' && confirm_pass.touched" class='danger-text error-font'>Password cannot be empty</p>
                <p *ngIf="confirm_pass.value != '' && new_pass.value != confirm_pass.value" class='danger-text error-font'>Passwords should be equal</p>
            </div>
            <button id="change-confirm-btn" type="submit" (click)="changePassMethod(changePass.value)" data-dismiss="modal" 
            [style.background-color]="changePass.form.invalid ? '#d4a682' : '#da843e'" [class.disabled]='changePass.form.invalid'
            [disabled]='changePass.form.invalid'>Change Password</button>
        </form>
    </div>
  </div>
