<div>
  <span class="personal-information">Personal information</span>
  <div class="general-container">
      <div class="containers d-flex">
          <div class="titles">Email: </div>
          <div class="user-mail">{{service.userEmail}}</div>
          <button type="button" class="change-btn" data-toggle="modal" data-target="#email-modal" (click)="showModal1()">Change email</button>
      </div>
      <div class="containers d-flex">
          <div class="titles">Password:</div>
          <div class="pass">{{service.userPassword}}</div>
          <button type="button" class="change-btn" data-toggle="modal" data-target="#pass-modal" (click)="showModal2()">Change password</button>
      </div>
  </div>
  <div>
      <div class="your-posts">Your posts</div>
  </div>
</div>

<app-email-changing-modal *ngIf="this.service.swModal1"></app-email-changing-modal>
<app-pass-changing-modal *ngIf="this.service.swModal2"></app-pass-changing-modal>

