.personal-information{
	display: block;
	font: 18px montserratSemiBold;
	background-color: #4a81cf;
	height: 50px;
	padding: 15px 20px 18px 20px;
	color: #fff;
	border-radius: 5px;
	width: 80%;
	margin: auto;
	margin-top: 80px;
}

.general-container{
 width: 77%;
 margin: auto;
 margin-top: 40px;
 margin-bottom: 40px;
}

.titles{
	font: 18px montserratSemiBold;
	color: #626266;
	padding-top: 4px;
}

.containers{
	margin-top: 20px;
}

.user-mail{
	padding-top: 4px;
	margin-left: 20px; 
	font: 18px montserratSemiBold;
    color: #a5a5a5;
}

.pass{
	padding-top: 8px;
	margin-left: 20px; 
	font: 18px montserratSemiBold;
    color: #a5a5a5;
}
.change-btn{
    height: 30px;
    width: 150px;
    border-radius: 5px;
	font: 14px montserratBold;
	padding-bottom: 5px;
    text-align: center;
    color: white;
    background: #da843e;
    border: none; 
    margin-left: 20px;
}

.change-btn:hover{
	background: #F6A766;
	
}

.your-posts{
	display: block;
	font: 18px montserratSemiBold;
	background-color: #4a81cf;
	height: 50px;
	padding: 15px 20px 18px 20px;
	color: #fff;
	border-radius: 5px;
	width: 80%;
	margin: auto;
}