* {
    padding: 0;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  body{
      min-height: 1200px;
      height: auto;
  }
  
  @font-face{
      font-family: montserratRegular;
      src: url('/fonts/Montserrat-Regular.otf');
  }
  
  @font-face{
      font-family: montserratBold;
      src: url('/fonts/Montserrat-Bold.otf');
  }
  
  @font-face{
      font-family: montserratSemiBold;
      src: url('/fonts/Montserrat-SemiBold.otf');
  }